@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.content-select select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.content-select select::-ms-expand {
    display: none;
}

.content-select {
    max-width: 250px;
    position: relative;
}

.content-select select {
    display: inline-block;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    padding: 7px 10px;
    height: 42px;
    outline: 0;
    border: 0;
    border-radius: 0;
    background: #f0f0f0;
    color: #7b7b7b;
    font-size: 1em;
    color: #999;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    position: relative;
    transition: all 0.25s ease;
}

.content-select select:hover {
    background: #B1E8CD;
}

/* 
Creamos la fecha que aparece a la izquierda del select.
Realmente este elemento es un cuadrado que sólo tienen
dos bordes con color y que giramos con transform: rotate(-45deg);
*/
.content-select span {
    position: absolute;
    right: 20px;
    top: calc(50% - 13px);
    width: 16px;
    height: 16px;
    display: block;
    border-left: 4px solid #2AC176;
    border-bottom: 4px solid #2AC176;
    transform: rotate(-45deg);
    /* Giramos el cuadrado */
    transition: all 0.25s ease;
}

.content-select:hover span {
    margin-top: 3px;
}

.fieldset_desing {
    background-color: #b3b5bbff;
    border-color: #124559ff;
    border: 9px groove (internal value);
    border-radius: 7px;
    width: 400px
}

.fieldset_desing legend {
    color: #fff;
    font-weight: bold
}